{% extends 'base.html' %}
{% load static %}
{% block card %}

<style>
.col-md-12.form-group.align-right
{
    text-align: right;
}
.dataTables_scrollHeadInner, .table.mb-0.dataTable.no-footer {
    width: 100% !important;
}
.table-responsive
{
    overflow-x: hidden;
}
table# tbody td {
    text-align: center;
}
thead.table-head th {
    text-align: center;
}
table#city_table tbody td
{
    text-align:center;
}
.dropdown-menu.open
{
 position: relative !important;
}
ul.dropdown-menu.inner {
    padding: 0px 10px !important;
}
.form-body.rtl {
    direction: rtl !important;
}
.form-body.rtl label
{
    float: right;
}
.form-body.ltr label
{
    float: left;
}
.form-body.ltr {
    direction: ltr !important;
}
</style>

   <!---------------------------------contant area----------------------------->

<div class="app-content content container-fluid bg-content">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="col-md-6 col-xs-6 mb-1 cont-head ">
                <h2>Cities </h2>
            </div>
            <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-xs-6">
                <div class="breadcrumb-wrapper col-xs-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item">Cities</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="content-body "><!-- stats -->
            <section class="card mb-10 categ-add">
                <div class="row w-22">
                    <div class="col-lg-12">
                        <div class="col-md-4 col-xs-5">
                            <div class="form-group position-relative mb-0">
                                <input type="text" class="form-control" name="search_city_name" id="search_city_name" placeholder="Search">
                                <div class="form-control-position">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 col-xs-2">
                            <div class="form-group addr-a-btn">
                                <i data-toggle="modal" data-target="#inlineForm" onclick="addcity()" class="fa fa-plus-circle" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="card mb-0">
                <div class="row ">
                    <div class="col-lg-12">
                        <div class="table-responsive" >
                            <table class="table mb-0" id="city_table">
                                <thead class="table-head ">
                                    <tr>
                                        <th>Sr. No.</th>
                                        <th>City Name</th>
                                        <th>Country Name</th>
                                        <th>Country Code</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<!---------------------------------contant area end---------------------------->


  <!--------popup--modal--------------------------------------------------->

<div class="modal fade text-xs-left" id="inlineForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header popup-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="col-md-9 col-xs-8 padd0">
                    <label class="modal-title model-head">
                        <h4>Add New city</h4>
                    </label>
                </div>
            </div>
            <div class="modal-body tab-area">
                <form id="cityForm" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-body">
                        <div class="col-xl-12 col-lg-12 padd0">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" id="base-tab1" data-toggle="tab" aria-controls="tab1" href="#tab1" aria-expanded="true">General info</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content px-1 pt-1">
                            <div role="tabpanel" class="tab-pane active" id="tab1" aria-expanded="true" aria-labelledby="base-tab1">
                                <div class="col-lg-12 pt-2 pl-0 pr-0">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                     <select name="languages" id="languages" style="display:none;">
                                                        <label for="languages">Translate</label>
                                                        <option value="0">Select Language</option>
                                                        {% for obj in languages %}
                                                         <option lng-mode="{{ obj.writing_mode }}" value="{{ obj.id }}">{{ obj.language_code }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 country_col">
                                                <div class="form-group">
                                                    <label for="country">Select Country</label>
                                                    <select name="country" class="form-control selectpicker" id="country" data-live-search="true">
                                                        <option>None</option>
                                                        {% for obj in countries%}
                                                        <option value="{{ obj.id }}">{{ obj.country_name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group update_subs">
                                                    <label for="city_name">City Name</label>
                                                    <input type="text" value="" name="city_name" class="form-control" id="city_name">
                                                    <input type="hidden" value="" name="update_city" id="update_city">
                                                    <input id="translatect" type="hidden" value="" name="translatect">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 form-group align-right">
                                    <input type="submit" class="btn btn  btn-md po-save-btn" value="Submit">
                                    <input type="reset" class="btn btn-md po-close-btn" data-dismiss="modal" value="Close">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--------active --modal--------------------------------------------------->

{% endblock %}
{% block jsbody %}




<script>
    $('#cityForm').submit(function(e) { // catch the form's submit event
        e.preventDefault();
        var formDataSerialized = new FormData($(this)[0]);
        $.ajax({ // create an AJAX call...
            data: formDataSerialized, // get the form data
            async:false,
            cache:false,
            contentType:false,
            processData:false,
            type: $(this).attr('method'), // GET or POST
            url: '/common/add_city', // the file to call
            success: function(response) { // on success..

                Swal.fire({
                 type: 'success',
                 text: 'City Added !!',
                })

                var tables = $('#city_table').DataTable();
                tables.ajax.reload();
            }
        });

        return false;
    });

</script>

<script>
    $(document).ready(function()
    {
        $('#city_table').DataTable(
        {
            "processing": true,
            "scrollX": true,
            "searching":false,
            "bLengthChange": false,
            "serverSide": true,
            "ordering": false,
            "ajax":
            {
                "url": "/common/get_city_list/",
                "data": function ( d )
                {
                    d.search=$("#search_city_name").val();
                }
            }
        });
		$(document).on('keyup','#search_city_name', function(e)
		{
		    var table = $('#city_table').DataTable();
	    	e.preventDefault();
			var search = $('#search_city_name').val();

			if(search == '')
			{
				var tables = $('#city_table').DataTable();
				tables.ajax.reload();
			}
			else
			{
			    table.draw();
			}
		});
    });


</script>

<script>
  function city_delete(id)
  {

      Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
       }).then((result) => {
         if (result.value)
         {

             $.ajax({
                url: '/common/city_delete/',
                data: {id:id},
                datatype: "text",
                success: function(data)
                {
                   if(data == 1)
                   {
                        Swal.fire(
                            'Deleted!',
                            'Your Data has been deleted.',
                            'success'
                        )
                    }
                    else
                    {
                        Swal.fire(
                            'Error!',
                            'Your Data cannot be deleted.',
                            'error'
                        )
                    }

                   var tables = $('#city_table').DataTable();
				    tables.ajax.reload();

                }
             });
         }
      })
  }
</script>


<script>
    function update_record(id)
    {
        $("input#update_city").val(id);
        $(".country_col").show();

        $.ajax({
            url:"/common/get_saved_city/",
            data:{id:id},
            datatype:"text",
			success:function(data)
			{
			   console.log(data);
			   $.each(JSON.parse(data),function(index,item)
               {
                   $("input#city_name").val(item.city_name);

                   $("button.btn.dropdown-toggle").attr("title", item.country_name);
                   $("span.filter-option.pull-left").html(item.country_name);
                   $('select#country option:contains("'+ item.country_name +'")').attr('selected', 'true');

                   $('select#country option[value="'+ item.country_id +'"]').attr('selected', 'true');

               });

                var tables = $('#city_table').DataTable();
                tables.ajax.reload();
            }
        });
    }
</script>

<script>
    function addcity()
    {
        $("input#city_name").val("");
        $("input#update_city").val("");

        $("button.btn.dropdown-toggle").attr("title", "Select Country");
        $("span.filter-option.pull-left").html("Select Country");
        $('select#country option').removeAttr('selected');
        $(".country_col").show();

    }
</script>

<script>
function translate_record(id, main_id)
{
   $("#languages").show();
   $("input#translatect").val(id);
   $("input#city_name").val("");
   $("input#updatebt").val("");
   $(".country_col").hide();

   var data_id = $("#record_" + id).attr("data-id");

   $.ajax({
        url:"/common/get_saved_city/",
        data:{id:id},
        datatype:"text",
        success:function(data)
        {
            console.log(data);
            $.each(JSON.parse(data),function(index,item)
            {
                for (var key in item.lang_list) {
                    value = item.lang_list[key];
                    $("select#languages option[value="+value+"]").remove();
                }
            });
        }
    });

    $.ajax({
        url:"/common/get_saved_city/",
        data:{id:main_id},
        datatype:"text",
        success:function(data)
        {
            console.log(data);
            $.each(JSON.parse(data),function(index,item)
            {
                $("input#city_name").val(item.city_name);
                $("button.btn.dropdown-toggle").attr("title", item.country_name);
                $("span.filter-option.pull-left").html(item.country_name);
                $('select#country option:contains("'+ item.country_name +'")').attr('selected', 'true');
                $('select#country option[value="'+ item.country_id +'"]').attr('selected', 'true');
            });
        }
    });
}
</script>

<script>
    $("select#languages").on("change", function()
    {
        var lng_mode = $('select#languages option:selected').attr('lng-mode');
        if(lng_mode == 'LTR')
        {
            $(this).closest('.form-body').addClass('ltr');
            $(this).closest('.form-body').removeClass('rtl');
        }
        else
        {
            $(this).closest('.form-body').removeClass('ltr');
            $(this).closest('.form-body').addClass('rtl');
        }
    });
</script>

{% endblock %}