{% extends 'base.html' %}
{% load static %}

{% block card %}

 <!---------------------------------contant area----------------------------->

<div class="app-content content container-fluid bg-content">
                  <div class="content-wrapper">
                    <div class="content-header row">
                      <div class="col-md-6 col-xs-12 mb-1 cont-head ">
                        <h2> Dashboard</h2>
                      </div>
                      <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-xs-12">
                        <div class="breadcrumb-wrapper col-xs-12">
                        </div>
                      </div>
                    </div>
                    <div class="content-body ">

              <div class="row w-25">
                <div class="col-md-3">
                    <div class="card border-info mx-sm-1 p-2 box-shado">
                        <div class="card border-info shadow text-info p-1 my-card" ><span class="fa fa-inbox" aria-hidden="true"></span></div>
                        <div class="text-info  total-head"><h4>TOTAL BUSINESS</h4></div>
                        <div class="text-info text-cont mt-1"><h1>234</h1></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card border-success mx-sm-1 p-2 box-shado">
                        <div class="card border-success shadow text-success p-1 my-card"><span class="fa fa-eye" aria-hidden="true"></span></div>
                        <div class="text-success total-head "><h4>TOTAL AGENTS</h4></div>
                        <div class="text-success text-cont mt-1"><h1>9332</h1></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card border-danger mx-sm-1 p-2 box-shado">
                        <div class="card border-danger shadow text-danger p-3 my-card" ><span class="fa fa-heart" aria-hidden="true"></span></div>
                        <div class="text-danger total-head "><h4>TOTAL PRODUCTS</h4></div>
                        <div class="text-danger text-cont mt-1"><h1>346</h1></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card border-warning mx-sm-1 p-2 box-shado">
                        <div class="card border-warning shadow text-warning p-3 my-card" ><span class="fa fa-inbox" aria-hidden="true"></span></div>
                        <div class="text-warning total-head "><h4>GROUP PRODUCTS</h4></div>
                        <div class="text-warning text-cont mt-1"><h1>346</h1></div>
                    </div>
                </div>



             </div>



                  </div>
                </div>
              </div>
<!---------------------------------contant area end---------------------------->



{% endblock %}


{% block jsbody %}

{% endblock %}